*{
    box-sizing: border-box;
}
body{
    background-color: rgb(80, 166, 137);
    margin: 0;
    padding: 0;
    
}
header{
    background-color: darkred;
    height: 5rem;
}
nav{
    background-color: rgb(166, 166, 214);
    height: 10rem;

}
section{
    background-color: azure;
    height: 15rem;
}
article{
    background-color: purple;
    height: 7rem;
    
}
aside{
    background-color: rgb(155, 106, 122);
    height: 15rem;
}
footer{
    background-color: rgb(146, 70, 146);
    height: 15rem;
}